.btn-primary {
    background-color: $color-primary;
    &:hover {
        background-color: $color-hover;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    font-weight: 500;
    &:hover {
        color: $color-primary;
    }
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: $color-primary;
}

.navbar-nav {
    padding: 0;
}

.nav-col {
    float: right;
}

.navbar-toggler-icon {
    padding: 10px;
    color: #fff;
    width: auto;
    height: auto;
    font-size: 25px;
}

.navbar-toggler:focus {
    box-shadow: none;
}