    @import "base";
    @import "variable";
    @import "header";
    @import "hero";
    @import "starts";
    @import "about";
    @import "whyus";
    @import "services";
    @import "reviews";
    @import "team";
    @import "footer";
    @import "mixin";
    @include desktop {
        .btn-whyus {
            bottom: 50px;
        }
        .whyus__logo {
            margin-top: 0;
        }
        .services__main h4 {
            font-size: larger;
        }
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            padding: 30px 0;
            border-radius: 5px;
        }
        .carousel-control-next {
            right: -11%;
        }
        .carousel-control-prev {
            left: -11%;
        }
    }