    @import "base";
    @import "variable";
    @import "header";
    @import "hero";
    @import "starts";
    @import "about";
    @import "whyus";
    @import "services";
    @import "reviews";
    @import "team";
    @import "footer";
    @import "mixin";
    @include desktop {
        .whyus__img {
            height: 300px;
        }
        .services__main h4 {
            font-size: larger;
        }
        .box {
            &-heading {
                font-size: 2.5rem;
                margin-bottom: 20px;
            }
        }
        .form-control {
            padding: 15px 30px;
        }
        .footer__form {
            margin-top: -98px;
        }
        .form-contact .btn {
            padding: 9px 16px;
            margin: 6px;
        }
        .hero__content .btn,
        .btn-learn {
            margin: 0;
        }
    }
    
    @include tablet() {
        .hero__content .btn,
        .btn-learn {
            font-size: 18px;
            padding: 10px 25px;
        }
        .box {
            &-heading {
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }
        .services__main h4 {
            font-size: medium;
        }
        .btn-whyus {
            font-size: small;
        }
        .whyus__img {
            height: 220px;
        }
        .form-control {
            padding: 10px 35px;
        }
        .footer__form {
            margin-top: -92px;
        }
        .form-contact .btn {
            padding: 6px 16px;
            margin: 6px;
        }
        .btn {
            font-size: small;
        }
    }
    
    @include mobile-lg() {
        .carousel-control-next {
            display: none;
        }
        .carousel-control-prev {
            display: none;
        }
        .btn {
            font-size: 12px;
        }
        .hero__content .btn,
        .btn-learn {
            font-size: 16px;
            padding: 8px 20px;
        }
        .btn-learn {
            float: right;
        }
        #starts {
            height: 143px;
        }
        .starts {
            &__number {
                font-size: 40px;
                font-weight: 600;
            }
            &__label {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .box {
            &-title {
                font-size: 13px;
            }
            &-heading {
                font-size: 1.5rem;
            }
        }
        .about__content .col-1 span {
            font-size: 30px;
        }
        .whyus__img {
            height: 248px;
            margin: 9px 0;
        }
        .btn-whyus {
            font-size: 14px;
        }
        .whyus__logo {
            margin-top: 1rem;
        }
        .services__card {
            margin: 0;
        }
        .services__main h4 {
            font-size: 14px;
        }
        .services__main p {
            font-size: 12px;
        }
        .form-contact {
            width: 80%;
        }
        .form-control {
            padding: 10px 35px;
        }
        .footer__form {
            margin-top: -92px;
        }
        .form-contact .btn {
            padding: 6px 16px;
            margin: 7px;
        }
    }
    
    @include mobile-sm() {
        .header__main .btn {
            display: none;
        }
        .hero__content-desc {
            display: none;
        }
        .btn {
            font-size: 12px;
        }
        .hero__content .btn,
        .btn-learn {
            font-size: 12px;
            padding: 8px 20px;
        }
        .box {
            &-title {
                font-size: 12px;
            }
            &-heading {
                font-size: 1.5rem;
            }
        }
        #starts {
            height: 120px;
            margin-bottom: 70px;
        }
        .starts {
            &__number {
                font-size: 30px;
                font-weight: 600;
            }
            &__label {
                font-size: 15px;
                font-weight: 500;
            }
        }
        .border-end {
            border-bottom: 1px solid #dee2e6;
        }
        .border-bottom {
            border: none !important;
        }
        .about__content .col-1 span {
            font-size: 20px;
        }
        .btn-learn {
            float: right;
        }
        .about__content .col-11 p,
        .whyus__main .col-12 p {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            height: 50px;
            font-size: 12px;
        }
        .whyus__img {
            height: 300px;
            margin: 7px 0;
        }
        .whyus__logo {
            margin-top: 0;
        }
        .about__content .col-11 h5 {
            font-size: 14px;
        }
        .carousel-control-next {
            display: none;
        }
        .carousel-control-prev {
            display: none;
        }
        .services__main {
            padding: 0;
        }
        .services__main h4 {
            font-size: 16px;
        }
        .reviews__quote q {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            height: 70px;
            font-size: 12px;
        }
        .reviews__quote span {
            font-size: 11px;
        }
        .reviews__author h5 {
            font-size: 16px;
        }
    }